@model PublicWorks.Models.UserModel

@{
	ViewBag.Title = "RecoverPassword";
	Layout = null;
	ViewBag.color = "red";
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<style>
	.back {
		background: #e2e2e2;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	.div-center {
		width: 600px;
		height: 200px;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		max-width: 200%;
		max-height: 150%;
		overflow: auto;
		padding: 1em 2em;
		border-bottom: 2px solid #ccc;
		display: table;
	}

	div.content {
		display: table-cell;
		vertical-align: middle;
	}
</style>
<h2>Recover Password</h2>
<div class="back">
	<div class="div-center">
		<div class="content">
			@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					<h4>Recover Password</h4>
					<hr />
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group">
						@Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
						</div>
					</div>
					<font color="@ViewBag.color">@ViewBag.ErrorMessage</font>
					<br />
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Create" class="btn btn-default" />
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
